.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.text-zone {
  width: 600px;
}

.cubespinner {
  -webkit-animation-name: spincube;
          animation-name: spincube;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 100px 100px 0;
          transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);
}

.cubespinner div {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 20px 0px lightyellow;
          box-shadow: 0 0 20px 0px lightyellow;
}

.cubespinner .face1 {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
  color: #dd0031;
}

.cubespinner .face2 {
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
  color: #f06529;
}

.cubespinner .face3 {
  -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
          transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  color: #28a4d9;
}

.cubespinner .face4 {
  -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
          transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  color: #5ed4f4;
}

.cubespinner .face5 {
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
          transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  color: #efd81d;
}

.cubespinner .face6 {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
  color: #ec4d28;
}

@-webkit-keyframes spincube {
  from,
  to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) translateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) translateZ(0deg);
  }
  16% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  33% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
            transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
            transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateY(-270deg) rotateX(90deg);
            transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

@keyframes spincube {
  from,
  to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) translateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) translateZ(0deg);
  }
  16% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  33% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
            transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
            transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateY(-270deg) rotateX(90deg);
            transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

/* test */
.text-zone {
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  vertical-align: middle;
  display: table-cell;
  max-height: 70%;
}

.text-zone h1 {
  font-size: 53px;
  font-family: 'Coolvetica', cursive;
  color: #ffd700;
  font-weight: 400;
  margin-top: 0;
  position: relative;
  margin-bottom: 40px;
  left: 10px;
}

.text-zone h1::before {
  content: '<h1>';
  font-family: 'La Belle Aurore', cursive;
  font-size: 18px;
  position: absolute;
  margin-top: -10px;
  left: -10px;
  opacity: 0.6;
  line-height: 18px;
}

.text-zone h1::after {
  content: '<h1/>';
  font-family: 'La Belle Aurore', cursive;
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  left: -30px;
  bottom: -20px;
  margin-left: 20px;
  opacity: 0.6;
}

.text-zone p {
  font-size: 14px;
  font-style: 13px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 300;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
}

.text-zone p:nth-of-type(1) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.text-zone p:nth-of-type(2) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.text-zone p:nth-of-type(3) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.text-animate-hover:hover {
  color: #fff;
}

/* finish test */
@media screen and (max-width: 1226px) {
  .text-zone {
    width: 460px;
  }
  .text-zone p {
    font-size: 14px !important;
  }
  .stage-cube-cont {
    top: 0;
    padding-top: 400px;
    margin-left: 0;
    position: absolute;
    overflow: hidden;
  }
}

@media screen and (max-width: 904px) {
  .stage-cube-cont {
    width: 40%;
    height: 24%;
    top: 0;
    padding-top: 420px;
    margin-left: 0;
    position: absolute;
    overflow: hidden;
  }
}

@media screen and (max-width: 840px) {
  .stage-cube-cont {
    width: 40%;
    height: 24%;
    top: 0;
    padding-top: 700px;
    margin-left: 0;
    position: absolute;
    right: 210px;
    overflow: hidden;
  }
}

@media screen and (max-width: 694px) {
  .text-zone {
    width: 460px;
  }
  .text-zone p {
    font-size: 14px !important;
  }
  .stage-cube-cont {
    width: 40%;
    height: 24%;
    top: 0;
    padding-top: 700px;
    margin-left: 0;
    position: absolute;
    right: 148px;
    overflow: hidden;
  }
}

@media screen and (max-width: 538px) {
  .text-zone {
    width: 380px;
  }
  .text-zone p {
    font-size: 12px !important;
  }
  .stage-cube-cont {
    width: 40%;
    height: 24%;
    top: 0;
    padding-top: 670px;
    margin-left: 0;
    position: absolute;
    right: 124px;
    overflow: hidden;
  }
}

@media screen and (max-width: 458px) {
  .text-zone {
    width: 310px;
  }
  .text-zone p {
    font-size: 11px !important;
  }
  .stage-cube-cont {
    width: 40%;
    height: 24%;
    top: 0;
    padding-top: 600px;
    margin-left: 0;
    position: absolute;
    right: 100px;
    overflow: hidden;
  }
}

@media screen and (max-width: 394px) {
  .text-zone {
    width: 250px;
  }
  .text-zone p {
    font-size: 10px !important;
  }
  .stage-cube-cont {
    width: 40%;
    height: 24%;
    top: 0;
    padding-top: 540px;
    margin-left: 0;
    position: absolute;
    right: 80px;
    overflow: hidden;
  }
}

@media screen and (max-width: 328px) {
  .text-zone {
    padding-left: 20px;
    width: 210px;
  }
  .text-zone p {
    font-size: 10px !important;
  }
  .stage-cube-cont {
    width: 40%;
    height: 24%;
    top: 0;
    padding-top: 640px;
    margin-left: 0;
    position: absolute;
    right: 68px;
    overflow: hidden;
  }
}
/*# sourceMappingURL=about.css.map */