*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


 ::-webkit-scrollbar {
  display: none;
  }

html{
  font-size: 62.5%; 
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
    color: #444;
  display: block;
  background-color: #212426; 
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 

